@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

.img-empresas {
    aspect-ratio: 3/2;
    object-fit: contain;
    width: 75%; /* Ajusta el ancho según tus necesidades */
  }
  
  .link-img-empresa {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .link-img-empresa img {
    width: 75%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .link-img-empresa:hover img {
    transform: scale(1.2); /* Ajusta según tu preferencia */
  }